<section class="characters">
  <div class="container">
    <div class="row g-4">
      @for (Character of allCharacters(); track Character.index) {
      <div class="col-md-3">
        <div class="card shadow-lg border-0 rounded-4">
          <img
            [src]="Character.image"
            class="card-img-top"
            [alt]="Character.fullName"
          />
          <div class="card-body">
            <h5 class="card-title text-center">
              {{ Character.fullName.split(" ", 3).join(" ") }}
            </h5>
            <p class="text-muted text-center fst-italic">
              "{{ Character.nickname }}"
            </p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <strong>House:</strong> {{ Character.hogwartsHouse }}
              </li>
              <li class="list-group-item">
                <strong>Portrayed by:</strong> {{ Character.interpretedBy }}
              </li>
              <li class="list-group-item">
                <strong>Birthdate:</strong> {{ Character.birthdate }}
              </li>
            </ul>
          </div>
        </div>
      </div>

      }
    </div>
  </div>
</section>
