.navbar{
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(4px);
  border-bottom: 1px solid gray;
}
.navbar-expand-lg .navbar-nav .nav-link{
  color: #fff;
}
.navbar-brand{
  color: turquoise;
}
.active-link{
  color: turquoise !important;
}
